$color-primary:#f1cdb3;
$color-primary-lighth:#fddcc4;

$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl:#ffffff;

$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$font-arial: 'Arial Regular',
sans-serif;
$font-arial-bold: 'Arial bold',
sans-serif;
$font-georgia: 'Georgia Regular',
sans-serif;

@font-face {
    font-family: 'Arial Regular';
    src: local('Arial'),
        url('/shelter/assets/fonts/ARIAL.TTF') format('ttf'),
        url('/shelter/assets/fonts/ARIAL.TTF') format('ttf');
}

@font-face {
    font-family: 'Arial Bold';
    src: local('Arial'),
        url('/shelter/assets/fonts/ARIALBD.TTF') format('ttf'),
        url('/shelter/assets/fonts/ARIALBD.TTF') format('ttf');
}

@font-face {
    font-family: 'Georgia Regular';
    src: local('Georgia'),
        url('../../assets/fonts/GeorgiaRegularfont.ttf') format('ttf'),
        url('../../assets/fonts/GeorgiaRegularfont.ttf') format('ttf');
}

@font-face {
    font-family: 'Georgia bold';
    src: local('Georgia'),
        url('../../assets/fonts/georgiabold.ttf') format('ttf'),
        url('../../assets/fonts/georgiabold.ttf') format('ttf');
}

@mixin h2 {
    font: {
        family: Georgia;
        size: 4.4rem;
        weight: 400;
    }

    line-height: 130%;
}

@mixin h3 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 3.5rem;
    }

    line-height: 130%;
    letter-spacing: 0.06em;

}

@mixin h4 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 2rem;
    }

    line-height: 115%;
    letter-spacing: 0.06rem;
}

@mixin h5 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 1.5rem;
    }

    line-height: 110%;
    letter-spacing: 0.06rem;

}

@mixin h3-mobile {
    font: {
        family: "Georgia Regular";
        style: normal;
        weight: normal;
        size: 2.5rem;
    }

    line-height: 130%;
    letter-spacing: 0.06em;
}

@mixin h5-mobile {
    font-family: 'Georgia bold';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 110%;
}

@mixin h5-modal-window {
    font-family: 'Georgia bold';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 110%;
}

@mixin logo_subtitle {
    font: {
        family: Arial;
        size: 1.3rem;
    }

    letter-spacing: 0.1em;
    line-height: 110%;
}

@mixin logo_title {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 3.2rem;
    }

    line-height: 110%;
    letter-spacing: 0.06em;

}

@mixin paragraph-s {
    font: {
        family: Arial;
        style: italic;
        weight: normal;
        size: 1.2rem;
    }

    line-height: 160%;
}


@mixin paragraph-l {
    font: {

        family: Arial;
        size: 1.5rem;
    }

    line-height: 160%;

}

@mixin slider_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.2rem;
    height: 5.2rem;
    box-shadow: inset 0 0 0 0.3rem $color-primary;
    border-radius: 100%;
    padding: 1.9rem;
    background: none;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
    outline: none;

    &:hover {
        box-shadow: inset 0 0 0 2px $color-primary;
        background-color: $color-primary-lighth;
    }
}

@mixin button() {
    padding: 15px 45px;
    border-radius: 10rem;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    line-height: 130%;
    font-family: Georgia;
    cursor: pointer;
    outline: none;
    border: none;
    transition-duration: 0.5s;
}

@mixin button_primary() {
    background-color: $color-primary;

    &:hover {
        background-color: $color-primary-lighth;
    }

    @include button();

}

@mixin button_secondary() {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $color-primary;

    &:hover {
        box-shadow: none;
        background-color: $color-primary-lighth;
    }

    @include button();
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

.burger {
    display: none;
}

.link-active {
    color: #FAFAFA;
    border-bottom: solid 0.3rem #F1CDB3;
}

.link-disabled:hover {
    opacity: .8;
}

.link-disabled {
    color: $color-dark-s;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 120rem;

}

.header {
    position: fixed;
    padding: 3rem 0;
    z-index: 1;
    flex: 1;
    width: 100%;
    background-color: white;
}

.wrapper__inner {
    display: flex;
    flex: 1;
    justify-content: space-between;

    .cozy-ul-inner {
        .cozy-ul {
            display: flex;
            flex-direction: column;
            list-style: none;

            a {
                text-decoration: none;

                h1 {
                    margin-bottom: 0.3em;
                    color: $color-dark-l;
                    @include logo_title();
                }

                p {
                    margin-left: 0.3rem;
                    font: normal 400 1.3rem/1.5rem $font-arial;
                    letter-spacing: 0.11em;
                    color: $color-dark-3xl;
                }
            }


        }
    }

}



.main-navigation {
    display: flex;
    align-items: center;
    width: 44.7rem;
    margin-right: -0.4rem;
    margin-bottom: 0.4rem;

    .cozy-ul {
        display: flex;
        display: none;
        flex-direction: column;
        list-style: none;
        margin-left: 1rem;
        margin-bottom: 1rem;

        a {
            text-decoration: none;

            h1 {
                margin-bottom: 0.3em;
                color: $color-dark-l;
                @include logo_title();
            }

            p {
                margin-left: 0.3rem;
                font: normal 400 1.3rem/1.5rem $font-arial;
                letter-spacing: 0.11em;
                color: $color-dark-l;
            }
        }
    }

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        font: normal normal 1.5rem/160% $font-arial;

        li:not(:first-child) {
            margin-left: 2.44em;
        }

        .navigation-link {
            padding-bottom: 0.3rem;
        }

        li:nth-of-type(3) {
            a {
                pointer-events: none;
            }
        }

        li:nth-of-type(4) {
            a {
                pointer-events: none;
            }
        }

        li {
            a {
                text-decoration: none;
            }
        }

        .link-active {
            color: $color-dark-3xl;
            border-bottom: solid 0.3rem #F1CDB3;
        }

        .link-disabled {
            color: $color-dark-l;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;

    background-color: #F6F6F6;

}

.pets-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1;

    &__title {
        margin-top: 20rem;
        margin-bottom: 6rem;
        color: $color-dark-l;
        @include h3();
        text-align: center;
    }

    &__slider {
        display: flex;

        max-width: 120rem;
        margin-bottom: 0.3rem;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        flex-grow: 1;
        width: 100%;

        .first-line {
            flex-wrap: wrap;
            margin-bottom: 6rem;
            display: flex;
            justify-content: center;

            &__item:nth-of-type(-n + 4) {
                margin-bottom: 4rem;
            }

            &__item {
                display: flex;
                max-width: 27rem;
                flex-direction: column;
                margin: 0 1.5rem;
                padding-bottom: 2rem;
                align-items: center;
                background: #FAFAFA;
                border-radius: 0.9rem;
                transition: 0.3s;
                .item-name {
                    margin-top: 3rem;
                    margin-bottom: 3rem;
                    text-align: center;
                    @include h4();
                    letter-spacing: 0.06em;
                }

                .item-button {
                    @include button_secondary();
                }
            }

            &__item:hover {
                cursor: pointer;
                background-color: #FFFFFF;
                box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
            }
        }

        .second-line {
            margin-bottom: 6rem;
            display: flex;
            width: 100%;
            justify-content: center;

            &__item {
                display: flex;
                max-width: 30rem;
                flex-direction: column;
                margin: 0 2rem;
                align-items: center;
                background: #FAFAFA;
                border-radius: 0.9rem;


                .item-name {
                    margin-top: 3rem;
                    margin-bottom: 3rem;
                    text-align: center;
                    @include h4();
                    letter-spacing: 0.06em;
                }

                .item-button {
                    @include button_secondary();
                }
            }

            &__item:hover {
                cursor: pointer;
                background-color: #FFFFFF;
                box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
            }
        }
    }
}

.footer {
    width: 100%;
    margin: 0 auto;
    height: 35rem;
    background: url(/shelter/assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

    &__content {
        display: flex;
        justify-content: space-between;
        flex: 1;

        .questions__item {
            margin-top: 5.8rem;
            list-style: none;

            li:first-child {
                max-width: 27.9rem;
                letter-spacing: 0.06em;
                margin-bottom: 4rem;
                @include h3();
                color: white;
            }

            .email {
                display: flex;
                align-items: center;
                margin-bottom: 4rem;
                @include h4();
                text-decoration: none;
                color: #F1CDB3;

                &__addres {
                    letter-spacing: 0.06em;
                }

                img {
                    margin-right: 2rem;
                }
            }

            .phone {
                display: flex;
                align-items: center;
                @include h4();
                text-decoration: none;
                color: #F1CDB3;

                &__number {
                    letter-spacing: 0.06em;
                }

                img {
                    margin-right: 2rem;
                }
            }
        }

        .suggest__item {
            margin-top: 5.8rem;
            flex: 1;
            max-width: 31.5rem;
            list-style: none;
            margin-left: 1.3rem;

            li:first-child {
                max-width: 27rem;
                margin-right: 2rem;
                margin-bottom: 3.1rem;
                color: white;
                letter-spacing: 0.06em;
                @include h3();
            }

            .street {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32rem;
                margin-bottom: 3.3rem;
                color: #F1CDB3;
                text-decoration: none;

                &__addres {
                    @include h4();
                    letter-spacing: 0.065em;
                    text-decoration: none;

                }

                img {
                    margin-right: 2rem;
                }
            }

            .globe {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: #F1CDB3;

                &__addres {
                    @include h4();
                    width: 26.6rem;
                    margin-right: 1rem;
                    letter-spacing: 0.06em;

                }

                img {
                    margin-right: 2rem;
                }
            }
        }
    }
}

.footer-puppey {
    align-items: center;
    margin-top: 4.1rem;
    overflow: hidden;
}

.pages {
    margin-bottom: 0.1rem;

    .pages-content {
        display: flex;
        justify-content: space-between;
        width: 34rem;
        flex: 1;

        .inactive {
            color: $color-dark-s;
            border: 0.2rem solid $color-dark-s;

        }

        .inactive:hover,
        .inactive:active {
            pointer-events: none;
            background-color: white;
        }

        &__button {
            max-width: 5.2rem;
            max-height: 5.2rem;
            margin-bottom: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem 2rem;
            color: $color-dark-3xl;
            border: 0.2rem solid #F1CDB3;
            border-radius: 10rem;
            background-color: white;
            outline: none;

            .font-class {
                @include h4();

            }

        }

        &__button:hover {
            cursor: pointer;
            background-color: #FDDCC4;
            ;
        }

        &__button:active {
            background-color: #F1CDB3;
        }

    }
}




#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 900px;
    height: 500px;
    z-index: 10;
    border-radius: 20px;
    background-color: #FFFFFF;
    transition: all 0.5s ease;
}

#modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal__inner>img {
    width: 500px;
    height: 500px;
}

.modal-name {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font: normal normal 35px/130% "Georgia Regular", sans-serif;
}

.type-breed {
    font: normal normal 20px/115% "Georgia Regular", sans-serif;
    margin-bottom: 4rem;
}

.modal__description {
    margin-bottom: 4rem;
    width: 350px;
    font: normal normal 15px/110% "Georgia Regular", sans-serif;
    letter-spacing: 0.06em;
}

.modal-list>li {
    color: #F1CDB3;
    margin-bottom: 1rem;
}

.modal-list>li>h5,
.modal-list>li>span {
    color: black;
}

.pet-age,
.pet-inoculations,
.pet-diseases,
.pet-parasites {
    display: inline;
    @include h5-mobile();
    letter-spacing: 0.06em;
}

.age-info,
.inoculations-info,
.diseases-info,
.parasites-info {
    font: normal normal 15px/110% "Georgia Regular", sans-serif;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: rgba(41, 41, 41, 0.6);
    pointer-events: none;
    z-index: 5;
    transition: 0.3s;
    &:hover {
        cursor: pointer;
        background: rgba(41, 41, 41, 0.7);
    }
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.close-button {
    position: relative;
    bottom: 553px;
    left: 905px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background: transparent;
    border: 2px solid #F1CDB3;
    outline: none;
    transition: all 0.5s ease;
}

.close-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color:  #FDDCC4;

    img {
        transform: rotate(90deg) rotate(-45deg);
        transition: all 0.5s ease;
    }

}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .header {
        width: 100%
    }

    #modal.active {
        width: 682px;
        height: 402px;

        .modal-img {
            width: 350px;
            height: 350px;
        }
        
        .close-button {
            bottom: 430px;
            left: 670px;
        }
    }

    .main {
        width: 100%;
        height: 1852px;
    }

    .wrapper {
        width: 708px;
    }

    .footer {
        width: 100%;
    }
.modal__info {
    padding-left: 2rem;
}
    body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .header {

        top: 0;
    }

    .pets-content__title {
        margin-bottom: 3rem;
    }

    .pages-content {

        width: 50%;
        justify-content: space-evenly;

    }

    .pages {
        width: 32rem;

        display: flex;
        width: 55%;
    }

    .pets-content__slider {
        flex-wrap: wrap;


        .first-line {
            width: 708px;

            margin-bottom: 6rem;
            flex-wrap: wrap;

            .first-line__item:nth-of-type(n) {

                margin-bottom: 4rem;
            }

            .first-line__item:nth-of-type(2n) {

                margin-bottom: 4rem;
            }

        }

        .second-line {
            flex-wrap: wrap;
            width: 708px;
            margin-bottom: 4.1rem;

            div:nth-last-of-type(-n + 2) {
                display: none;
            }
        }

    }

    .footer {
        height: 639px;

        &__content {

            flex-wrap: wrap;

            .questions {
                margin-top: 0;

                .questions__item {
                    margin-top: 3rem;
                    margin-left: 3.4rem;
                }

            }

            .suggest {
                margin-top: 0;

                .suggest__item {
                    margin-top: 3rem;
                    margin-right: 2rem;

                    li:first-child {
                        margin-bottom: 3.5rem;
                    }
                }
            }

            .footer-puppey {
                margin-top: 6.5rem;
                margin-left: 20.5rem;
            }
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    header {
        .wrapper {
            width: 100%;

            .wrapper__inner {
                width: 100%;
            }
        }
    }


    .pages {
        .pages-content {
            width: 30rem;
        }
    
    }
    

  .main-navigation__items  .link-active {
        color: $color-light-s;
    }
    .cozy-ul-inner {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #modal.active {
        width: 27.1rem;
        height: 39.3rem;

        .modal-img {
            display: none;
        }

        .modal__description {
            width: 40rem;

            font-size: 13px;
            /* width: 191px; */
            padding: 0 76px;
            text-align: justify;
            margin-bottom: 1rem;
        }

        .modal__info {
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .modal-list {
            width: 24.7rem;

            .pet-age,
            .pet-inoculations,
            .pet-diseases,
            .pet-parasites {
                display: inline;
                @include h5-mobile();
                letter-spacing: 0.06em;
            }
        }
    }

.close-button {
    bottom: 430px;
    left: 243px;
}


    .burger {
        display: block;
        height: 22px;
        transition: 0.5s;
        margin-top: 2rem;
    }

    .main {
        width: 100%;
    }

    .header {
        width: 100%;
        top: 0;

    }


    .main-navigation {
        position: fixed;
        top: 0px;
        right: -320px;
        display: block;
        width: 320px;
        height: 100vh;
        background: #292929;
        z-index: 2;
        transition: right 0.6s cubic-bezier(0.97, 0, 0.13, 1.03);
        left: unset;
        overflow: hidden;

        .main-navigation__items {
            display: flex;
            flex-direction: column;
            padding-top: 50%;
            font: normal normal 3.2rem/160% Arial, sans-serif;
        }
    }

    .main-navigation__items>li:not(:last-child) {
        margin-left: 0;
        margin-bottom: 1.5rem;
    }

    .main-navigation__items>li:last-child {
        margin-left: 0;

    }

    .main-navigation__items>li:nth-of-type(1) {
        margin-bottom: 4rem;
    }

    .main-navigation__items>li:nth-of-type(2) {
        margin-bottom: 5rem;
    }

    .main-navigation__items>li:nth-of-type(4) {
        margin-bottom: 4rem;
        margin-top: 1rem;
    }

    .main-navigation__items {
        flex-direction: column;
    }

    .main-navigation>.cozy-ul {
        padding-top: 3rem;
        display: block;
    }

    .burger {
        display: block;
        height: 22px;
        margin-right: 4.4rem;
        z-index: 9;
        margin-top: 2rem;
    }

    .pets-content {
        &__title {
            @include h3-mobile()
        }

        &__slider {
            .first-line {
                flex-direction: column;

            }
        }
    }

    .footer {
        height: 80.9rem; 
        .footer__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            .questions__item {
                margin-top: 2rem;
                li:first-child {
                    font-size: 2.5rem;
                    text-align: center;
                
                }
            }
            .suggest__item {
                max-width: 30rem;
                margin-left: 0;
                li:first-child {
                    max-width: 29rem;
                    font-size: 2.5rem;
                    margin-right: 0;
                    text-align: center;
                
                }
            }
            .footer-puppey {
                width: 260px;
                height: 269px;
            }
        }
}







}
.burger-overflow-hidden {
    background: rgba(41, 41, 41, 0.6);
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;
    z-index: -1;
    display: none;

}

.blackout {
    display: block;
}

.slide-in {
    right: 0;
}

.burger__active {
    transform: rotate(-90deg);
}